<%- include('../_layouts/adminheader') %>

    <h2 class="page-title">Add a Page</h2>
    <a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
    <br>
    <br>
    <form method="post" action="/admin/pages/add-page">
      <div class="form-group">
          <label for="">Title</label>
          <input type="text" class="form-control" name="title"  placeholder="Title">
       </div>

         <div class="form-group">
                <label for="">Slug</label>
                <input type="text" class="form-control" name="slug"  placeholder="Slug">
             </div>

             <div class="form-group">
                    <label for="">Content</label>
                    <textarea name="content" class="form-control" cols="30" rows="10" id="ta" placeholder="Content"></textarea> 
                 </div>

        <button class="btn btn-default">SUBMIT</button>
    </form>

<%- include('../_layouts/adminfooter') %>

