<%- include('../_layouts/adminheader') %>

    <h2 class="page-title">Add a Page</h2>
    <a href="/admin/categories" class="btn btn-primary">Back to all Categories</a>
    <br>
    <br>
    <form method="post" action="/admin/categories/add-category">
      <div class="form-group">
          <label for="">Title</label>
          <input type="text" class="form-control" name="title"  placeholder="Title">
       </div>

       

        <button class="btn btn-default">SUBMIT</button>
    </form>

<%- include('../_layouts/adminfooter') %>

