
    </div><!-- /.container -->
      <br>
      <br>
      <br>
      
      <hr>
      
    <b><p class="text-center">&COPY; SHOPPING CART</p></b>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
